.headerWrapper {
  background-color: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  padding: 1rem 1rem;
  max-width: 1050px;
  margin: 0 auto 1.5rem auto;
}

.headerNav {
  display: flex;
  gap: 1rem;
}

@media (max-width: 450px) {
  .header {
    flex-direction: column;
    gap: 0.5rem;
  }
}
